flows(2).json
[{"id":"fe74caac.9fedd8","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"b09386b0.dda528","type":"http in","z":"fe74caac.9fedd8","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":140,"y":200,"wires":[["87062ec.cfd71d","4568dfa2.32bec"]]},{"id":"87062ec.cfd71d","type":"function","z":"fe74caac.9fedd8","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":380,"wires":[["5f4cac97.26fd44"]]},{"id":"5f4cac97.26fd44","type":"rpi-gpio out","z":"fe74caac.9fedd8","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":540,"y":380,"wires":[]},{"id":"4568dfa2.32bec","type":"function","z":"fe74caac.9fedd8","name":"Return Status","func":"msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["d62d5f76.61f5e","e674bf3e.7e899"]]},{"id":"d62d5f76.61f5e","type":"http response","z":"fe74caac.9fedd8","name":"","statusCode":"","headers":{},"x":770,"y":180,"wires":[]},{"id":"e674bf3e.7e899","type":"debug","z":"fe74caac.9fedd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":460,"wires":[]},{"id":"1a9b5f40.f966e1","type":"http in","z":"fe74caac.9fedd8","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":160,"y":500,"wires":[["5c81b20b.3aedbc","954dbb3f.278328"]]},{"id":"5c81b20b.3aedbc","type":"function","z":"fe74caac.9fedd8","name":"Clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":500,"wires":[["5f4cac97.26fd44"]]},{"id":"954dbb3f.278328","type":"function","z":"fe74caac.9fedd8","name":"Return Status","func":"msg.payload = \"GPIO5 set to Low\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":580,"wires":[["d62d5f76.61f5e","e674bf3e.7e899"]]}]
